.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
*.xls
*.pdf
application/config/config.php
application/config/database.php
assets/arquivos/restrito/*.pdf.
assets/arquivos/restrito/*.docx.
assets/arquivos/restrito/*.xls.
assets/arquivos/restrito/*.csv.
assets/arquivos/restrito/*.xlsx.
uploadArquivos/arquivos/*.pdf.
uploadArquivos/arquivos/*.docx.
uploadArquivos/arquivos/*.xls.
uploadArquivos/arquivos/*.xlsx.
uploadArquivos/arquivos/*.csv.
*.sql
restrito.7z
